[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
boto3 = "*"
python-multipart = "*"
pyjwt = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
