@use "../variables/colors" as *;

.feed {
  width: 80%;
  border: 5 solid black;
  margin: 1em auto;
  // overflow-y: scroll;
  // max-height: calc(100vh - 5em);
  // height: 100vh;
  // position: absolute;
}
