@use "../variables/colors" as *;
@use "../variables/breakpoints" as *;

.container {
  position: absolute;
  height: calc(100vh - 4em);
  // width: 20%;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba($darkRed, 0.7);
}

@media (max-width: $breakpoint2) {
  .container {
    width: 6em;
  }
}
@media (max-width: $breakpoint4) {
  .container {
    display: none;
  }
}
