@use "../variables/colors" as *;

.container {
  padding: 0 1em;
  border-radius: 2em;
  background-color: rgba($darkRed, 0.7);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    transition: ease-in-out 0.4s;
    // color: white;
    .user {
      display: flex;
      align-items: center;
      gap: 1em;
      .image {
        border-radius: 50%;
        overflow: hidden;
        height: 50px;
        width: 50px;
      }
      .username {
        color: $off-white;
      }
    }
    .dropdown {
      position: relative;

      .dropdownToggle {
        cursor: pointer;
      }
      .dropdownMenu {
        // border-radius: 1em;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $off-white;
        width: 7em;

        // padding-top: 1em ;
        a {
          text-decoration: none;
          padding: 0.5em 0;
          margin: 0 auto;
          color: $darkRed;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: ease-in-out 0.4s;
          border: 1px solid $off-white;
          &:hover {
            background-color: $blue;

            color: $off-white;
          }
        }
      }
    }
  }
  .content {
    padding-left: 1em;
    object-fit: contain;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        // max-height: 40em;
      }
    }
    p {
      color: $off-white;
      font-size: 1.2rem;
      line-height: 1.5em;
      margin-bottom: 1em;
    }
  }
  .actions {
    display: flex;
    color: $off-white;
    justify-content: flex-start;
    gap: 1%;
    // margin-top: 1em;
    button {
      display: flex;
      justify-content: space-evenly;

      span {
        background-color: $off-white;
        color: $darkRed;
        padding: 0 0.3em;
        border-radius: 2em;
        transition: 0.5s ease;
      }
      flex: 1;
      margin-top: 1em;
      margin-bottom: 1em;

      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 17px;
      font-weight: 500;
      color: $off-white;
      text-shadow: none;
      background: transparent;
      cursor: pointer;
      box-shadow: transparent;
      border: 1px solid $off-white;
      transition: 0.5s ease;
      user-select: none;
      &:hover,
      &.active {
        color: $off-white;
        background: $lightRed;
        border: 1px solid $lightRed;
        text-shadow: 0 0 5px $off-white, 0 0 10px $off-white,
          0 0 20px $off-white;
        box-shadow: 0 0 5px $off-white, 0 0 20px $lightRed, 0 0 50px $lightRed,
          0 0 100px $lightRed;

        span {
          text-shadow: 0 0 5px $off-white, 0 0 10px $off-white,
            0 0 20px $off-white;
          box-shadow: 0 0 5px $off-white, 0 0 20px $lightRed, 0 0 50px $lightRed,
            0 0 100px $lightRed;
        }
      }
    }
  }
  .writeComment {
    width: 100%;
    background-color: rgba($lightRed, 0.2);
    outline: none;
    border: none;
    border-radius: 10px;
    height: 3em;
    width: 100%;
    padding-left: 2em;
    color: $off-white;
    &::placeholder {
      color: rgba($off-white, 0.7);
    }
  }
  .addComment {
    margin-bottom: 1em;
    display: flex;
    gap: 1%;
    button {
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 17px;
      font-weight: 500;
      color: $darkRed;
      background-color: $off-white;
      text-shadow: none;
      cursor: pointer;
      box-shadow: transparent;
      border: 1px solid rgba($off-white, 0.7);
      transition: 0.5s ease;
      user-select: none;
      outline: none;
      &:hover {
        background-color: rgba($lightRed, 0.7);
        border: 1px solid rgba($off-white, 0.7);
        color: $off-white;
      }
    }
  }
  .comments {
    .loadMoreContainer {
      // border-top: 2px solid rgba($off-white, 0.7);
      .loadMore {
        display: flex;
        justify-content: center;
        background: transparent;
        color: rgba($off-white, 0.9);
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        margin: 1em auto;
      }
    }
  }
}
