@use "../variables/colors" as *;

.container {
  border: 3px solid black;
  background-color: rgba($darkRed, 0.7);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    transition: ease-in-out 0.4s;
    // color: white;
    .user {
      display: flex;
      align-items: center;
      gap: 1em;
      .image {
        border-radius: 50%;
        overflow: hidden;
        height: 50px;
        width: 50px;
      }
      .username {
        color: $off-white;
      }
    }
    .dropdown {
      position: relative;

      .dropdownToggle {
        cursor: pointer;
      }
      .dropdownMenu {
        // border-radius: 1em;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $off-white;
        width: 7em;

        // padding-top: 1em ;
        a {
          text-decoration: none;
          padding: 0.5em 0;
          margin: 0 auto;
          color: $darkRed;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: ease-in-out 0.4s;
          border: 1px solid $off-white;
          &:hover {
            background-color: $blue;

            color: $off-white;
          }
        }
      }
    }
  }
}
