// Define variables
//colors
$white: white;
$darkRed: #780000;
$lightRed: #c1121f;
$off-white: #fdf0d5;
$blue: #003049; //hover - alert messages - borders/dividers - icons/icons background - selected/active states