@use "../../../variables/colors" as *;
@use "../../../variables/breakpoints.scss" as *;

.container {
  // background-color: $darkRed;
  height: 100vh;
  display: flex;
  align-items: center;
  // justify-content: center;
}
